:root {
	--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
		"Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
		"Fira Mono", "Droid Sans Mono", "Courier New", monospace;
	--button-primary-clr: rgb(71, 78, 224);
	--button-primary-outline-clr: rgb(144, 149, 236);
	--button-accent-clr: rgba(39, 39, 42, 0.7);
	--footer-clr: rgb(14, 8, 61);
}

* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	max-width: 100vw;
}
