.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(246, 247, 254);
	min-height: 100vh;
}
.hero {
	text-align: center;
}

.message {
	max-width: 500px;
}

.btn {
	display: flex;
	gap: 0.5rem;
}
